body, html{height:100%;}

body{

text-align:center;

}

header
{
    background-image: url(../../Presentation_OC/assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -530px;
    

    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    
}


button
{
    background-color: rgba( 244, 187, 17 , 1);
    border-radius: 8px;
}
button:hover
{
    background-color: rgba( 248, 247, 242 , 1);
    border-radius: 8px;
}


/* Box Nav + Section = .center_page */
.center_page
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
}

/* Header coté gauche */
.logo
{
    width: 80px;
    height: 80px;
}

/* Header centre */
.title
{
    border-radius: 10px;
    border-color: black;
    text-shadow: 0px 0px 7px white;
    font-size: 2em;
}

/* Header coté droit */
.actions
{
    padding-top: 1.5em;
    padding-right: 2em;
}
.search
{
    display: inline-block; /* passe le bloc input + button à coté des autres actions */
    vertical-align: middle;
}
input, .search
{
    height: 25px;
    width: 100px;
}
button, .search
{   
    margin-top: 0.2em;
    height: 25px;
}

/* Section (zone centrale) */
section 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section img,a
{   
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    max-height: 200px;
    height: auto;
    text-align: center;
    font-weight: bolt;
    color: black;
}

section img:hover 
{
    width: 270px;
    height: auto;
    box-shadow: 10px 10px 10px black;
}

/* Footer */

footer
{
	background-color: rgba(245,159,10, 0.2);
	box-shadow: 0px 0px 10px orange;
    padding-left: 20px;
	padding-right: 20px;
	margin-top: 2%;
    display: flex;
    justify-content: space-between;
}


textarea
{
	background-color: orange;
}


.Copyright 
{
	text-align: right;
    position:relative;
    padding-right: 30px;
    padding-top: 9%;
}

/* MODIFIER NAV */